@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-image: url(../img/bg-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);

    margin: 5px;
    padding: 25px;
}

.logo-titulo {
    display: flex;
    margin-bottom: 10px;
}

.logo-titulo h1 {
    margin-left: 5px;
}

.contexto {
    display: flex;
}


.imagem img {
    width: 100%;
}

.texto {
    align-self: center;
    width: 433px;
    margin: 0 auto;
}

.texto h1 {
    margin-bottom: 20px;
}

.texto p {
    margin-bottom: 15px;
}

.logo-titulo,
.titulo {
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.paragrafo {
    color: #ccc;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.button {
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    color: hsl(270, 40%, 49%);

    padding: 12px 55px;
    margin: 0px 10px;
}

.button:hover {
    color: #fff;
    background-color: hsl(280, 69%, 71%);
}

.redes-sociais {
    display: flex;
    justify-content: end;
}

.redes-sociais a {
    margin-right: 10px;
}

.redes-sociais .facebook,
.redes-sociais .twitter,
.redes-sociais .instagram {
    width: 20px;
    height: 20px;
}

a:hover {
    background-color: hsl(280, 69%, 71%);
}


@media (max-width: 1300px) {
    .contexto {
        display: flex;
        flex-direction: column;
    }

    .texto {
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }

    .titulo {
        font-size: 24px;
    }

    .paragrafo {
        font-size: 14px;
    }

    .button {
        margin-top: 15px;
        padding: 10px 60px;
    }

    .redes-sociais {
        margin-top: 30px;
        justify-content: center;
    }
}